.main{
    height: 100%;
    padding: 10px;
    width: 70%;
    text-align: center;
    margin: 70px auto;
}
.main__empty{
    font-size:20px;
    user-select: none;
    font-weight: bold;
    margin: 50px;
}