.main{
    height: 200px;
    padding: 10px;
    width: 70%;
    text-align: center;
    margin: 0px auto;
}
.main__empty{
    font-size:20px;
    user-select: none;
    font-weight: bold;
    margin-top: 70px;
}